<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Bucket-list
        {% endblock %}
    </title>
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_link_tags('app') }}

</head>
<body>
<header>
    <div class="container">
        <h1 class="header-logo">
            <a href="{{ path('main_home') }}">
                <img src="{{ asset('img/logo.svg') }}"
                     alt="home"
                >
            </a>
            <a href="{{ path('wish_list') }}">
                All wishes
            </a>
        </h1>
    </div>
</header>
<main>
    <div class="container158">
        Container 158
    </div>
    <div class="container4">
        Container 4
    </div>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main>
<footer>
    <div class="container">
        &copy; Bucket list - {{ "now" | date('Y') }}
    </div>
</footer>
</body>
</html>
